## Exercício Desafio

- Digamos que seu chefe pediu para você um relatório da análise dos salários da unidade de San Francisco da empresa. O objetivo dele é entender:

1. Qual foi a evolução do salário médio ao longo dos anos (TotalPay e TotalPayBenefits)
2. Quantos funcionários tivemos ao longo dos anos
3. Qual foi a evolução do total gasto com salário ao longo dos anos (TotalPayBenefits)

- Base de Dados a ser usada: salarios.sqlite

### Importação da Base de Dados

In [25]:
import pandas as pd
import sqlite3

dados_conexao = sqlite3.connect ("salarios.sqlite")

In [26]:
tabela_salarios = pd.read_sql("select * from salaries", dados_conexao)
dados_conexao.close()

### Análise de Dados

In [33]:
# garantindo que estamos só com San Francisco
tabela_salarios = tabela_salarios.loc[tabela_salarios["Agency"]=='San Francisco', :]

148654

##### 1. Qual foi a evolução do salário médio ao longo dos anos

In [37]:
tabela_sm = tabela_salarios.groupby("Year").mean()
display(tabela_sm[["TotalPay", "TotalPayBenefits"]])

          TotalPay  TotalPayBenefits
Year
2011  71744.103871      71744.103871
2012  74113.262265     100553.229232
2013  77611.443142     101440.519714
2014  75463.918140     100250.918884

##### 2. Quantos funcionários tivemos ao longo dos anos

In [42]:
tabela_qtde = tabela_salarios.groupby("Year").count()
tabela_qtde = tabela_qtde[["Id"]]
tabela_qtde = tabela_qtde.rename(columns={"Id": "Qtde"})
display(tabela_qtde)

       Qtde
Year
2011  36159
2012  36766
2013  37606
2014  38123

##### 3. Qual foi a evolução do total gasto com salário ao longo dos anos

In [48]:
def formatar(valor):
    return 'R$ {:,.2f}'.format(valor)

tabela_total = tabela_salarios.groupby("Year").sum()
tabela_total = tabela_total[["TotalPay", "TotalPayBenefits"]]
tabela_total["TotalPay"] = tabela_total["TotalPay"].apply(formatar)
tabela_total["TotalPayBenefits"] = tabela_total["TotalPayBenefits"].apply(formatar)
display(tabela_total)

                 TotalPay     TotalPayBenefits
Year
2011  R$ 2,594,195,051.88  R$ 2,594,195,051.88
2012  R$ 2,724,848,200.44  R$ 3,696,940,025.96
2013  R$ 2,918,655,930.80  R$ 3,814,772,184.37
2014  R$ 2,876,910,951.26  R$ 3,821,865,780.60